header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

footer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}