html {
    font-family: 'Montserrat', sans-serif; /*Como nosso app só tem textos curtos*/
    background-color: #f9f9f9;
}
/*Nossa fonte escolhida para textos longos (que não existem no nosso app hoje):*/
/*.txt_l {
    font-family: 'Garamond', serif;
}*/

header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    top: 0.3rem;
    height: 3rem; 
    font-size: 1.5rem;
}
 
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50  ; 
    
}

header a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 70%;
    min-height: 6rem;
    border: 0.1rem solid #424242;
    margin: 1rem;
    border-radius: 1%;
}

a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

figure.botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: #f1f1f1;
    border: 0.1rem solid #424242;
    border-radius: 0.5rem;
    margin: 1rem 0;
    cursor: pointer;
}

.lote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    min-width: 30%;
    min-height: 6rem;
    border: 0.1rem solid black;
    margin: 1rem;
    border-radius: 0.5rem;
}

.propiedade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 80%;
    min-height: 5rem;
    border: 0.1rem solid black;
    margin: 1rem;
}

h1, h2, p {
    font-family: 'Montserrat', sans-serif;
}   

h2 {
    font-weight: bold; 
}
.grafico{
    display: flex;
    border: 0;
    margin: 1rem;

}

.botao-header {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    position: absolute; 
    right: 1rem; 
    top: 50%; 
    transform: translateY(-50%); 
}